<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Running-workout foreground service. The base FOREGROUND_SERVICE /
         WAKE_LOCK / POST_NOTIFICATIONS permissions are merged in by
         flutter_foreground_task; Android 14+ additionally requires the
         type-specific permission for the "health" service type. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <application
        android:label="my_fit_notebook_mobile"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- flutter_foreground_task service. Name is fixed by the plugin; the
             "health" type matches a workout tracker per Android 14 FGS rules. -->
        <service
            android:name="com.pravera.flutter_foreground_task.service.ForegroundService"
            android:foregroundServiceType="health"
            android:exported="false" />
        <!-- Custom small icon (pen + dumbbell) for the workout notification,
             referenced by name from WorkoutNotificationService. -->
        <meta-data
            android:name="com.eugenechekan.my_fit_notebook_mobile.WORKOUT_ICON"
            android:resource="@drawable/ic_workout_notification" />
        <!-- flutter_local_notifications: deliver scheduled workout reminders and
             reschedule them after a reboot. RECEIVE_BOOT_COMPLETED is merged in
             from flutter_foreground_task. -->
        <receiver
            android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver
            android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
